<div class="pedidos-aberto-container">
  <h1>Pedidos em Aberto</h1>

  <table *ngIf="isLargeScreen && pedidosEmAberto.length > 0; else mobileView" class="client-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Data de Emissão</th>
        <th>Valor Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidosEmAberto" (click)="abrirModal(pedido)" class="pedido-item">
        <td>{{ pedido.id }}</td>
        <td>{{ pedido | nomeCliente }}</td>
        <td>{{ pedido.dataEmissao | date: 'short' }}</td>
        <td>{{ pedido.valorTotal | currency: 'BRL' }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #mobileView>
    <div *ngIf="pedidosEmAberto.length > 0; else noPedidos">
      <div *ngFor="let pedido of pedidosEmAberto" (click)="abrirModal(pedido)" class="pedido-card">
        <div class="card-row">
          <span>ID:</span>
          <span>{{ pedido.id }}</span>
        </div>
        <div class="card-row">
          <span>Cliente:</span>
          <span>{{ pedido | nomeCliente }}</span>
        </div>
        <div class="card-row">
          <span>Data de Emissão:</span>
          <span>{{ pedido.dataEmissao | date: 'short' }}</span>
        </div>
        <div class="card-row">
          <span>Valor Total:</span>
          <span>{{ pedido.valorTotal | currency: 'BRL' }}</span>
        </div>
      </div>
    </div>
    <ng-template #noPedidos>
      <p class="no-pedidos">Não há pedidos em aberto no momento.</p>
    </ng-template>
  </ng-template>

  <div class="button-container">
    <button (click)="voltarParaHome()" class="nav-button">Voltar para Home</button>
  </div>
</div>
