.pedido-detail-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    padding: 10px;
  }

  h1 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .input-camera-wrapper{
    position: relative;

    button{
      border: none;
      position: absolute;
      right: 0;
      margin-right: 10px;
    }
  }

  .form-group {
    margin-bottom: 15px;
    position: relative;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1em;
      background-color: #f9f9f9;
      color: #555;

      &::placeholder {
        font-size: 0.875rem;
      }
    }
    .action-buttons {
      display: flex;
      flex-wrap: wrap; /* Permite quebrar linha em telas pequenas */
      gap: 8px;

      button {
        flex: 1 1 auto;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        &:active {
          transform: translateY(0);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
      }

      .edit-button {
        background-color: #007bff;
        color: #fff;

        &:hover {
          background-color: #0056b3;
        }

        &:focus {
          outline: 2px solid #0056b3;
        }
      }

      .delete-button {
        background-color: #ff0000;
        color: #fff;

        &:hover {
          background-color: #cc0000;
        }

        &:focus {
          outline: 2px solid #cc0000;
        }
      }
    }
  }

  .autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;

    li {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #eee;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  .itens-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th, td {
      padding: 10px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .itens-cards {
    display: none;

    @media (max-width: 768px) {
      display: block;

      .item-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .card-content p {
          margin: 5px 0;
          font-size: 0.9rem;
        }

        .action-buttons {
          display: flex;
          justify-content: space-between; /* Mantém os botões organizados em telas pequenas */
          gap: 4px; /* Reduz o espaçamento em telas menores */

          button {
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    button {
      flex: 1 1 calc(50% - 10px);
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
    }

    .consultar-button {
      background-color: #28a745;

      &:hover {
        background-color: #218838;
      }
    }

    .voltar-home-button {
      background-color: #007bff;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .feedback-box {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2em;

    &.success {
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
    }

    &.error {
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
    }
  }
}
