<div class="busca-grupo-produtos-container">
  <h1>Buscar Grupos de Produtos</h1>

  <!-- Barra de busca -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="searchGruposProdutos()" placeholder="Buscar grupos..." class="search-input">
    <select [(ngModel)]="searchBy" class="search-select">
      <option value="nome">Nome</option>
      <option value="id">ID</option>
    </select>
    <button (click)="searchGruposProdutos()" class="search-button">Buscar</button>
  </div>

  <!-- Tabela de grupos -->
  <table *ngIf="filteredGrupos.length > 0; else noGroups" class="group-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grupo of filteredGrupos" (click)="viewGrupo(grupo.id)" class="group-item">
        <td>{{ grupo.id }}</td>
        <td>{{ grupo.nome }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Mensagem de 'Nenhum grupo encontrado' -->
  <ng-template #noGroups>
    <p>Nenhum grupo encontrado.</p>
  </ng-template>

  <!-- Botões de ação -->
  <div class="button-container">
    <button (click)="navigateToHome()" class="nav-button">Voltar para Home</button>
    <button (click)="createNovoGrupo()" class="nav-button novo-button">Novo</button>
  </div>
</div>
