<div class="container">
  <h1 class="container__title">LiteERP</h1>

  <div class="login">

    <span class="login__title">Log in</span>

    <div class="login__request__link">
      <span>Não tem conta? </span>
      <a href="/signup" routerLink="/signup" class="small-link">Solicitar novo Login</a>
    </div>

    <ng-template [ngIf]="status">
      <div class="login__modal">
          <img class="login__modal__icone-alert" src="images/icone-alerta.png" alt="">{{errorMessage}}
      </div>
    </ng-template>



    <form class="login__form" (ngSubmit)="onSubmit()">

      <div class="login__form__itens">
        <label for="username">Usúário</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" placeholder="Nome" required>
      </div>

      <div class="login__form__itens">
        <label for="password">Senha</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="senha">
      </div>

      <button type="submit" class="login__form__button">Log in</button>
    </form>

  </div>

</div>
