.pedido-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;

  .button-back{
    display: flex;
    align-items: center;
    color: #333;
    background-color: #E3E3E3;
    padding: 5px;
    border-radius: 50%;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;

    img{
      width: 12px;
    }
  }

  h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .tab-selector {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;

    button {
      background-color: #e0e0e0;
      border: none;
      padding: 10px 20px;
      font-size: .875rem;
      cursor: pointer;
      border-radius: 4px;
      transition: transform 0.3s ease-in-out;


      &.active {
        background-color: #007bff;
        color: white;
        transform: scale(1.1);
      }
    }
  }

  /* Títulos uniformes */
  .titulo-secao {
    display: block;
    margin-bottom: 10px;
    font-size: .875rem; /* Igual ao label */
    color: #333;
  }

  .form-group {
    margin-bottom: 15px;
    position: relative;

    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
      font-size: .875rem;
    }

    input, select, span {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: block;
      font-size: .875rem;
      background-color: #F2F4F8;
      color: #555;
    }

    span {
      background-color: #e9ecef;
    }

    .autocomplete-list {
      list-style-type: none;
      padding: 0;
      margin: 5px 0;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
      background-color: white;
      z-index: 2000;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
    }

    .autocomplete-list li {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #eee;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f0f0f0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .itens-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .action-buttons {
      display: flex;
      gap: 5px;
    }

    button {
      background-color: #4caf50;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: .875rem;

      &.edit-button {
        background-color: #007bff;
        color: white;

        &:hover {
          background-color: #0056b3;
        }
      }

      &.delete-button {
        background-color: #f44336;

        &:hover {
          background-color: #d32f2f;
        }
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    button {
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: .875rem;


      &.novo-button {

        background-color: #4caf50;
        &:hover {
          background-color: #3e8f40;
        }
      }


      &.gravar-button {
        background-color: #008cba;

        &:hover {
          background-color: #007bb5;
        }
      }

      &.deletar-button {
        background-color: #f44336;

        &:hover {
          background-color: #d32f2f;
        }
      }

      &.consultar-button {
        background-color: #ff9800;

        &:hover {
          background-color: #fb8c00;
        }
      }
    }
  }

  .feedback-box {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2em;
  }

  .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}

@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
  }

  .pedido-detail-container {
    max-width: 380px;
  }
}
