<!-- src/app/components/contas-pagar-relatorio/contas-pagar-relatorio.component.html -->
<div class="contas-pagar-relatorio-container">
  <app-navigate-to-search-button [routerLink]="urlHome"></app-navigate-to-search-button>
  <h1>Relatório de Contas a Pagar</h1>

  <form [formGroup]="contasPagarRelatorioForm" class="contas-pagar-relatorio-form"
        (ngSubmit)="onSubmit()">

    <div class="search-data">
      <div>
        <label for="dataVencimentoInicio">Vencimento a partir de:</label>
        <input
          type="date"
          id="dataVencimentoInicio"
          formControlName="dataVencimentoInicio">
      </div>
      <div>
        <label for="dataVencimentoFinal">Vencimento até:</label>
        <input
          type="date"
          id="dataVencimentoFinal"
          formControlName="dataVencimentoFinal">
      </div>
    </div>

    <div class="form-group">
      <label for="fornecedor">Fornecedor:</label>
      <input
        type="text"
        id="fornecedor"
        formControlName="fornecedorNome"
        (input)="onSearchFornecedores()"
        [value]="fornecedorInput"
        placeholder="Buscar fornecedor">
      <ul *ngIf="showFornecedoresList" class="autocomplete-list">
        <li *ngFor="let f of fornecedores" (click)="onSelectFornecedor(f)">
          {{ f.razaoSocial }}
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label for="tipoCobranca">Tipo de Cobrança:</label>
      <select id="tipoCobranca" formControlName="tipoCobranca">
        <option value=""></option>
        <option *ngFor="let tc of tiposCobranca" [value]="tc.id">
          {{ tc.descricao }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="formaPagamento">Forma de Pagamento:</label>
      <select id="formaPagamento" formControlName="formaPagamento">
        <option value=""></option>
        <option *ngFor="let fp of formasPagamento" [value]="fp.id">
          {{ fp.descricao }}
        </option>
      </select>
    </div>

    <div class="search-data">
      <div class="group">
        <label for="valorTotalInicial">V.total a partir de:</label>
        <input
          type="number"
          id="valorTotalInicial"
          formControlName="valorTotalInicial"
          placeholder="0.00">
      </div>
      <div class="group">
        <label for="valorTotalFinal">V.total até:</label>
        <input
          type="number"
          id="valorTotalFinal"
          formControlName="valorTotalFinal"
          placeholder="0.00">
      </div>
    </div>

    <button class="btn-submit" type="submit"
      [disabled]="contasPagarRelatorioForm.invalid">
      Gerar Relatório
    </button>
  </form>
</div>
