<div class="modal-backdrop" *ngIf="isVisible" (click)="onBackdropClick($event)">
  <div class="modal-container">
    <div class="modal-header">
      <h3>{{ titulo }}</h3>
      <button class="close-button" (click)="fecharModal()">
        <span>&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <!-- Períodos pré-definidos -->
      <div class="periodos-predefinidos">
        <h4>Períodos Rápidos:</h4>
        <div class="botoes-periodo">
          <button type="button" class="btn-periodo" (click)="definirPeriodoPreDefinido('ultima-semana')">
            Última Semana
          </button>
          <button type="button" class="btn-periodo" (click)="definirPeriodoPreDefinido('ultimo-mes')">
            Último Mês
          </button>
          <button type="button" class="btn-periodo" (click)="definirPeriodoPreDefinido('ultimos-3-meses')">
            Últimos 3 Meses
          </button>
          <button type="button" class="btn-periodo" (click)="definirPeriodoPreDefinido('ultimo-ano')">
            Último Ano
          </button>
          <button type="button" class="btn-periodo" (click)="definirPeriodoPreDefinido('proximo-mes')">
            Próximo Mês
          </button>
          <button type="button" class="btn-periodo btn-padrao" (click)="definirPeriodoPreDefinido('padrao')">
            Padrão (1 ano + 1 semana)
          </button>
        </div>
      </div>

      <!-- Seleção manual de datas -->
      <div class="selecao-manual">
        <h4>Ou selecione as datas:</h4>
        <div class="campos-data">
          <div class="campo-data">
            <label for="dataInicio">Data de Início:</label>
            <input 
              type="date" 
              id="dataInicio" 
              [(ngModel)]="dataInicio"
              class="input-data">
          </div>
          <div class="campo-data">
            <label for="dataFim">Data de Fim:</label>
            <input 
              type="date" 
              id="dataFim" 
              [(ngModel)]="dataFim"
              class="input-data">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn-cancelar" (click)="cancelar()">
        Cancelar
      </button>
      <button type="button" class="btn-confirmar" (click)="confirmar()">
        Aplicar Filtro
      </button>
    </div>
  </div>
</div>
