<div class="produto-detail-container">
  <app-navigate-to-search-button [routerLink]="urlProdutosBusca"/>
  <h1>Cadastro de Produto</h1>

  <!-- Seletor de Abas -->
  <div class="tab-selector">
    <button [class.active]="activeTab === 'geral'" (click)="setActiveTab('geral')">Geral</button>
    <button [class.active]="activeTab === 'tributacao'" (click)="setActiveTab('tributacao')">Tributação</button>
    <button [class.active]="activeTab === 'valores'" (click)="setActiveTab('valores')">Valores</button>
  </div>

  <!-- Conteúdo das Abas -->
  <form *ngIf="activeTab === 'geral'" class="tab-content" [formGroup]="geralForm">
    <div class="form-group">
      <label for="id">ID</label>
      <span>{{ isNew ? 'Será gerado automaticamente' : produto.id }}</span>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" name="descricao" formControlName="descricao" placeholder="Digite a descrição do produto" required>
      @if( geralForm.controls['descricao'].errors?.['required'] && geralForm.controls['descricao'].touched) {
        <p class="error-message">Descrição é obrigatória.</p>
      }
    </div>
    <div class="form-group">
      <label for="grupoProdutos">Grupo de Produtos</label>
      <select id="grupoProdutos" name="grupoProdutos" formControlName="grupoProdutos">
        <option *ngFor="let grupo of gruposProdutos" [ngValue]="grupo">{{ grupo.nome }}</option>
      </select>
      @if( geralForm.controls['grupoProdutos'].errors?.['required'] && geralForm.controls['grupoProdutos'].touched) {
        <p class="error-message">Grupo de produtos é obrigatório.</p>
      }
    </div>
    <div class="form-group">
      <label for="dataUltimaCompra">Data da Última Compra</label>
      <input type="date" id="dataUltimaCompra" name="dataUltimaCompra" formControlName="dataUltimaCompra">
      @if( geralForm.controls['dataUltimaCompra'].errors?.['required'] && geralForm.controls['dataUltimaCompra'].touched) {
        <p class="error-message">Data da última compra é obrigatória.</p>
      }
    </div>
  </form>

  <!-- Conteúdo Tributação -->
  <form *ngIf="activeTab === 'tributacao'" class="tab-content" [formGroup]="tributacaoForm">
    <div class="form-group">
      <label for="codEan">Código EAN</label>

      <div class="codEanCam">
        <input type="text" id="codEan" name="codEan" maxlength="13" placeholder="Digite até 13 dígitos" formControlName="codEan">
        <button mat-icon-button matSuffix (click)="startScanner()">
          <mat-icon>photo_camera</mat-icon>
        </button>
        @if(tributacaoForm.controls['codEan'].errors?.['required'] && tributacaoForm.controls['codEan'].touched) {
          <p class="error-message">Código EAN obrigatório</p>
        }
      </div>
    </div>
    <div class="form-group">
      <label for="codNcm">Código NCM</label>
      <input type="text" id="codNcm" name="codNcm" maxlength="8" pattern="[0-9]*" formControlName="codNcm">
      @if(tributacaoForm.controls['codNcm'].errors?.['required'] && tributacaoForm.controls['codNcm'].touched) {
        <p class="error-message">Código NCM obrigatório.</p>
      }@else if(tributacaoForm.controls['codNcm'].errors?.['minlength'] && tributacaoForm.controls['codNcm'].touched) {
        <p class="error-message">NCM deve ter 8 dígitos numéricos.</p>
      }
    </div>
    <div class="form-group">
      <label for="codCest">Código CEST</label>
      <input type="text" id="codCest" name="codCest" maxlength="7" pattern="[0-9]*" formControlName="codCest">

      @if(tributacaoForm.controls['codCest'].errors?.['required'] && tributacaoForm.controls['codCest'].touched) {
        <p class="error-message">Código CEST obrigatório.</p>
      }
    </div>
  </form>

  <!-- Conteúdo Valores -->
  <form *ngIf="activeTab === 'valores'" class="tab-content" [formGroup]="valoresForm">
    <div class="form-group">
      <label for="precoCompra">Preço de Compra</label>
      <input type="number" id="precoCompra" name="precoCompra" step="0.01" min="0" placeholder="0.00" formControlName="precoCompra">
      @if (valoresForm.controls['precoCompra'].errors?.['required'] && valoresForm.controls['precoCompra'].touched) {
        <p class="error-message">Preço de compra é obrigatório.</p>
      }

    </div>

    <div class="form-group">
      <label for="precoVenda">Preço de Venda</label>
      <input type="number" id="precoVenda" name="precoVenda" required step="0.01" min="0" placeholder="0.00" formControlName="precoVenda">
      <span *ngIf="!produto.precoVenda" class="error-message">Preço de venda é obrigatório.</span>

    </div>
    <div class="form-group">
      <label for="peso">Peso em KG</label>
      <input type="number" id="peso" name="peso" min="0" step="0.01" placeholder="0.00" formControlName="peso">
      @if (valoresForm.controls['peso'].errors?.['required'] && valoresForm.controls['peso'].touched) {
        <p class="error-message">Peso é obrigatório.</p>
      }
    </div>
  </form>

  <!-- Botões de Ação -->
  <app-footer-button [buttons]="buttons" (action)="tratarEvento($event)" [isNew]="isNew"/>

  <!-- Caixa de Feedback -->
  <div *ngIf="message" class="feedback-box" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
    {{ message }}
  </div>
</div>
