<div class="produtos-relatorio-container">
  <app-navigate-to-search-button [routerLink]="urlHome"/>
  <h1>Relatório de Produtos</h1>

  <form [formGroup]="produtosRelatorioForm" class="produtos-relatorio-form"
        (ngSubmit)="onSubmit()">

    <!-- intervalo de datas (data de última compra) -->
    <div class="search-data">
      <div>
        <label for="dataCompraInicio">Compra a partir de:</label>
        <input
          type="date"
          id="dataCompraInicio"
          formControlName="dataCompraInicio">
      </div>
      <div>
        <label for="dataCompraFinal">Compra até:</label>
        <input
          type="date"
          id="dataCompraFinal"
          formControlName="dataCompraFinal">
      </div>
    </div>

    <!-- select de grupo de produto -->
    <div class="select-grupo-produto form-group">
      <label for="grupoProduto">Grupo do produto:</label>
      <select id="grupoProduto"
              formControlName="grupoProdutoId">
        <option value=""></option>
        <option *ngFor="let g of grupos" [value]="g.id">
          {{ g.nome }}
        </option>
      </select>
    </div>

    <!-- intervalo de preço de venda -->
    <div class="search-data">
      <div class="group">
        <label for="precoVendaInicio">P.venda a partir de:</label>
        <input
          type="number"
          id="precoVendaInicio"
          formControlName="precoVendaInicio"
          placeholder="0.00">
      </div>
      <div class="group">
        <label for="precoVendaFinal">P.venda até:</label>
        <input
          type="number"
          id="precoVendaFinal"
          formControlName="precoVendaFinal"
          placeholder="0.00">
      </div>
    </div>

    <!-- intervalo de preço de custo -->
    <div class="search-data">
      <div class="group">
        <label for="precoCustoInicial">P.custo a partir de:</label>
        <input
          type="number"
          id="precoCustoInicial"
          formControlName="precoCustoInicial"
          placeholder="0.00">
      </div>
      <div class="group">
        <label for="precoCustoFinal">P.custo até:</label>
        <input
          type="number"
          id="precoCustoFinal"
          formControlName="precoCustoFinal"
          placeholder="0.00">
      </div>
    </div>

    <!-- intervalo de peso -->
    <div class="search-data">
      <div class="group">
        <label for="pesoInicial">Peso a partir de:</label>
        <input
          type="number"
          id="pesoInicial"
          formControlName="pesoInicial"
          placeholder="0.000"
          step="0.001">
      </div>
      <div class="group">
        <label for="pesoFinal">Peso até:</label>
        <input
          type="number"
          id="pesoFinal"
          formControlName="pesoFinal"
          placeholder="0.000"
          step="0.001">
      </div>
    </div>

    <button class="btn-submit" type="submit"
      [disabled]="produtosRelatorioForm.invalid">
      Gerar Relatório
    </button>
  </form>
</div>
