<div class="container" [class.collapsed]="isSidebarCollapsed">
  <aside class="sidebar" [class.sidebar-collapsed]="isSidebarCollapsed">
    <div class="toggle-button">
      <button (click)="toggleSidebar()">☰</button>
    </div>
    <nav>
      <!-- Renderiza os menus apenas se a barra não estiver recolhida -->
      <ul *ngIf="!isSidebarCollapsed">
        <li>
          <a href="javascript:void(0)" (click)="toggleMenu('cadastro')">Cadastros</a>
          <ul *ngIf="expandedMenu === 'cadastro'">
            <li><a [routerLink]="['/clientes']">Clientes</a></li>
            <li><a [routerLink]="['/fornecedores']">Fornecedores</a></li>
            <a href="javascript:void(0)" (click)="toggleMenu_2('Produtos')">Produtos</a>
              <ul *ngIf="expandedMenu_2 === 'Produtos'">
            <li><a [routerLink]="['/busca-produtos']">Cadastro</a></li>
            <li><a [routerLink]="['/grupo-produtos-busca']">Grupo de Produtos</a></li>
          </ul>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="toggleMenu('vendas')">Vendas</a>
          <ul *ngIf="expandedMenu === 'vendas'">
            <li><a [routerLink]="['/pdv']">PDV</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="toggleMenu('faturamento')">Faturamento</a>
          <ul *ngIf="expandedMenu === 'faturamento'">
            <li><a [routerLink]="['/emissao-nfe']">Emissão de NFe</a></li>
            <li><a [routerLink]="['/envio-nfe']">Envio de NFe</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="toggleMenu('compras')">Compras</a>
          <ul *ngIf="expandedMenu === 'compras'">
            <li><a [routerLink]="['/recebimento-mercadorias']">Recebimento de Mercadorias</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="toggleMenu('administrador')">Administrador</a>
          <ul *ngIf="expandedMenu === 'administrador'">
            <li><a [routerLink]="['/alterar-senha']">Alterar Senha</a></li>
            <li><a [routerLink]="['/busca-liberacao']">Liberar Usuários</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <header class="topbar">
    <button (click)="logout()">Sair</button>
  </header>

  <main class="content">
    <h1>Bem-vindo à área Gerencial</h1>
    <p>Esta é a sua página inicial da área gerencial do ERP.</p>
  </main>
</div>
